out
target
dist
#*#
.#*
*~
*.log
*.iml
*.ipr
*.iws
*.swp
.idea
*.iml
lib_managed
project/boot
.DS_Store
src_managed
.ensime
project/plugins/project
ostrich.tmproj
.ivyjars
.classpath
.project
.scala_dependencies
sbt-launch.jar
.ensime_cache/
